{% set clean_public_url = public_url|trim('/') %}

{% apply inky_to_html %}
    <container>
        <row class="header">
            <a href="{{ public_url }}">
                MY_PROJECT
            </a>
        </row>
        <row class="content">
            <h1>{{ 'emails.general.hello' | trans({'%username%': username}) }}</h1>

            {% block content %}{% endblock %}

            <spacer size="20"></spacer>
            <p>{{ 'emails.general.cheers' | trans }}</p>
        </row>
    </container>
{% endapply %}
