{% extends 'emails/base.html.twig' %}

{% block content %}
    <p>{{ 'emails.email_updated.text1' | trans({ '%new_email%': new_email }) }}</p>

    <p>{{ 'emails.email_updated.warning' | trans }}</p>
{% endblock %}
