{% extends 'emails/base.html.twig' %}

{% block content %}
    <p>{{ 'emails.forgotten_password.text1' | trans }}</p>

    <center>
        <button class="expanded" href="{{ link }}">{{ 'emails.forgotten_password.link' | trans }}</button>
    </center>

    <p>{{ 'emails.forgotten_password.warning' | trans }}</p>
{% endblock %}
